<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style/style.css">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
    <title>Профиль</title>
</head>
<body>
    <div class="left-div"></div>
    <div class="container">

        <div class="main_menu">
            <a href="{{ url_for('index') }}">
                <div class="el_menu">
                    <div id="img1"><img id= "i1" src="static/img/Home.png"></div>
                    <div class="menu_p"><span class="animated-text">Главная</span></div>
                </div>
            </a>

            <a href="{{ url_for('price') }}">
                <div class="el_menu">
                    <img id= "i2" src="static/img/Money.png">
                    <div class="menu_p"><span class="animated-text">Цены</span></div>
                </div>
            </a>

            <a href="{{ url_for('our_work') }}">
                <div class="el_menu">
                    <img id= "i3" src="static/img/Work.png">
                    <div class="menu_p"><span class="animated-text">Наши работы</span></div>
                </div>
            </a>

            <a href="{{ url_for('contact') }}">
                <div class="el_menu">
                    <img id= "i4" src="static/img/Phone.png">
                    <div class="menu_p"><span class="animated-text">Контакты</span></div>
                </div>
            </a>

            {% if login_user %}
                <a href="{{ url_for('order') }}">
                    <div class="el_menu">
                        <img id="i5" src="static/img/buy.png">
                        <div class="menu_p"><span class="animated-text">Корзина</span></div>
                    </div>
                </a>
            {% else %}
            {% endif %}

            {% if admin_rule %}
                <a href="{{ url_for('admin') }}">
                    <div class="el_menu">
                        <img id="i6" src="static/img/admin.png">
                        <div class="menu_p"><span class="animated-text">Для админа</span></div>
                    </div>
                </a>
            {% else %}
            {% endif %}

            {% if login_user %}
                <a href="{{ url_for('logout') }}">
                    <div class="el_menu">
                        <img id="i7" src="static/img/exit.png">
                        <div class="menu_p"><span class="animated-text">Выйти</span></div>
                    </div>
                </a>
            {% else %}
            {% endif %}
        </div>

        <div id = "shapka">
            <a href="{{ url_for('index') }}">
                <img id="avatar" src="static/img/Avatar.png" alt="Логотип">
            </a>
            <a href="{{ url_for('index') }}">
                <div id="text_shapki">ПрофМонтаж</div>
            </a>
        </div>

            <div class="user_profile">
            <img src="static/img/Profile/Photo.png" alt="Аватар Пользователя" class="photo">
            <div class="data_user">
                <div class="name_user">Васнецов Александр Сергеевич</div>
                <div class="happyDay_user" >25.04.1999</div>
                <div class="edit_profile">Редактировать профиль</div>
                <img src="static/img/Profile/Pen.png" alt="Ручка" class="pen">
                <div class="passport_user">Серия и номер паспорта: 1256567431</div>
                <div class="email_user">Почта: ilonmaks@gmail.ru</div>
                <div class="street_user">Адрес: Улица Ленина дом 35</div>
                <div class="number_user">Номер телефона: 88005553535</div>
            </div>
        </div>

    <div class="down">
            <div class="d2">
                <div class="png">
                    <img class="phone" src="static/img/podval/phone.png" alt="Номер телефона">
                </div>
                <div class="item2">
                    <div>8-928-208-0808</div>
                </div>
                <div class="png">
                    <img class="internet" src="static/img/podval/internet.png" alt="">
                </div>
                <div class="item2">
                    <a href="{{ url_for('index') }}">
                        <div>Сайт prof-m.ru</div>
                    </a>
                </div>
                <div>
                    <div class="social_network">Мы в соцсетях</div>
                    <a href="{{ url_for('index') }}">
                        <img class="vk" src="static/img/podval/vk.png" alt="vk">
                    </a>
                    <a href="{{ url_for('index') }}">
                        <img class="tg" src="static/img/podval/tg.png" alt="tg">
                    </a>
                    <a href="{{ url_for('index') }}">
                        <img class="yt" src="static/img/podval/yt.png" alt="yt">
                    </a>
                </div>
                <div class="d3">
                    <div class="png2">
                        <img class="mail" src="static/img/podval/mail.png" alt="">
                    </div>
                    <div class="item3 name_mail">
                        <a href="https://360.yandex.ru/mail/">
                            <div>prof-m@yandex.ru</div>
                        </a>
                    </div>
                    <div class="png3">
                        <img class="metka" src="static/img/podval/metka.png" alt="">
                    </div>
                    <a href="{{ url_for('contact') }}">
                        <div class="item3 street">г. Краснодар, <br>
                            ул. Тополинная, 30/1
                        </div>
                    </a>
                </div>
            </div>
            <div class="footer">
                <div class="footer_content">
                    <a href="{{ url_for('index') }}">
                        <div class="logo_down">
                            <img src="static/img/Avatar.png" alt="" class="logo">
                        </div>
                    </a>
                    <div class="footer_text">© 2024 Профмонтаж, Все права защищены</div>
                </div>
            </div>
            <div class="footer2">
                <div class="footer_navigation">
                    <a><span class="navigation">Навигация по сайту</span></a>
                    <a href="{{ url_for('index') }}">
                        <div class="a1">Главная <br></div>
                    </a>
                    <a href="{{ url_for('price') }}">
                        <div class="a2">Цены<br></div>
                    </a>
                    <a href="{{ url_for('our_work') }}">
                        <div class="a3">Наши работы<br></div>
                    </a>
                    <a href="{{ url_for('contact') }}">
                        <div class="a4">Контакты</div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="right-div"></div>

</body>
</html>